#timer {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #8C3031; 
  }
  #timer span {
    font-size: 40px;
    color: #8C3031;
    font-weight: 600;
    margin: 0 3px 0 15px;
  }

  #footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .red{
      color: red;
  }

  .mobilefooter{
    padding-right: 100px;
  }

  @media only screen and (max-width: 767px) {
    #timer {
      font-size: 15px !important;
    }
    #timer span {
      font-size: 20px !important;
    }
    .mobilefooter{
      padding-right: 0px !important;
    }

    .footerimg{
      width: 30% !important;
    }
  }